

@use "sass:color";
@use "_sass/color_schemes/dracula" as dracula-vars;

$mbrvsc-dracula-foreground: dracula-vars.$dracula-foreground !default;
$mbrvsc-dracula-muted: dracula-vars.$dracula-comment !default;
$mbrvsc-dracula-background: dracula-vars.$dracula-background !default;
$mbrvsc-dracula-accent: dracula-vars.$dracula-purple !default;
$mbrvsc-dracula-button-foreground: dracula-vars.$dracula-foreground !default;
$mbrvsc-dracula-button-secondary-foreground: dracula-vars.$dracula-foreground !default;
$mbrvsc-dracula-border: dracula-vars.$dracula-current-line !default;
$mbrvsc-dracula-favorite-selected: dracula-vars.$dracula-red !default;
$mbrvsc-dracula-progressBar: dracula-vars.$dracula-cyan !default;
$mbrvsc-dracula-volumeBar: $mbrvsc-dracula-progressBar !default;
$mbrvsc-dracula-volumeThumb: color.adjust($mbrvsc-dracula-volumeBar, $lightness: -8%) !default;

body[data-mbr-theme="dracula"] {
	--mbrvsc-color-foreground: #{$mbrvsc-dracula-foreground};
	--mbrvsc-color-muted: #{$mbrvsc-dracula-muted};
	--mbrvsc-color-background: #{$mbrvsc-dracula-background};
	--mbrvsc-color-accent: #{$mbrvsc-dracula-accent};
	--mbrvsc-color-button-foreground: #{$mbrvsc-dracula-button-foreground};
	--mbrvsc-color-button-secondary-foreground: #{$mbrvsc-dracula-button-secondary-foreground};
	--mbrvsc-color-border: #{$mbrvsc-dracula-border};
	--mbrvsc-color-favorite-selected: #{$mbrvsc-dracula-favorite-selected};
	--mbrvsc-color-progressBar: #{$mbrvsc-dracula-progressBar};
	--mbrvsc-color-volumeBar: #{$mbrvsc-dracula-volumeBar};
	--mbrvsc-color-volumeThumb: #{$mbrvsc-dracula-volumeThumb};
}
